<% content_for :page_title do %>
  <%= Spree.t(:theme_settings) %>
<% end %>

<%= form_tag admin_theme_settings_path, method: :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">
      <div class="row">

      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_theme_settings_url, icon: 'delete' %>
      </div>

    </fieldset>

  </div>

<% end %>
